.controls {
    border: 2px solid purple;
    background-color: lightblue;
    width: 14.3%;
    padding: 0.2%;
}

.controls .btn, .controls .current-month{
    display: inline-block;
    margin: 0.3%;
}

.calendar{
    border: 2px solid purple;
    background-color: lightblue;
    width: 15%;
}

.another-month{
    color: gray;
}
.calendar td.highlighted{
    color: orange;

}