#calendar-container {
  width: 480px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.66);
}
#calendar-container .calendar-month {
  border-collapse: collapse;
  border: 3px solid #000;
  width: 100%;
  height: 100%;
}
#calendar-container .calendar-month td,
#calendar-container .calendar-month th {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: #dbe2e4;
  cursor: default;
}
#calendar-container .calendar-month td {
  transition: all 0.5s ease;
}
#calendar-container .calendar-month td:hover {
  cursor: pointer;
  background-color: #a0e3ff;
  color: #fff;
}
#calendar-container .calendar-month .weekend {
  background: rgba(79, 87, 152, 0.46);
}
#calendar-container .calendar-month .another-month {
  color: #d3d3d3;
}
#calendar-container .calendar-month td.highlighted {
  color: #1af923;
  background: url('../images/list-icon.png') no-repeat;
  background-size: 22px;
  background-position: 98% 10%;
  background-color: #606f6e;
}
#calendar-container .calendar-month .today {
  position: relative;
  background: #7A67DD;
  color: #fff;
}
#calendar-container .calendar-month .today:after {
  position: absolute;
  bottom: 3px;
  left: 12px;
  content: 'today';
}
#calendar-container .controls {
  position: relative;
  border: 3px solid #000;
  border-bottom: 2px solid #000;
  background-color: #dbe2e4;
  margin: 0 auto;
  text-align: center;
}
#calendar-container .controls button {
  position: absolute;
  top: 6px;
  cursor: pointer;
  color: transparent;
  width: 9%;
  border: 1px outset #000;
  border-radius: 25%;
  line-height: 250%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  box-shadow: 1px 1px 4px #131312;
  transition: all 0.5s ease;
}
#calendar-container .controls button:active {
  width: 8.5%;
  box-shadow: 1px 1px 2px #131312;
}
#calendar-container .controls button:focus {
  outline: none;
  background-color: #1af938;
}
#calendar-container .controls button:hover {
  background-color: #1af938;
}
#calendar-container .controls button:first-child {
  left: 10px;
  background-image: url(../images/arrow-left.png);
}
#calendar-container .controls button:last-child {
  right: 10px;
  background-image: url(../images/arrow-right.png);
}
#calendar-container .selected-month {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  padding: 2% 0;
  cursor: default;
}
#calendar-container .weekday-names {
  color: #6b6b6b;
  background: #6df17c;
  border-bottom: 4px solid #000;
}
#calendar-container .weekday-names th {
  background: transparent;
}
#calendar-container .weekday-names .weekend {
  background: rgba(101, 110, 183, 0.75);
}
#calendar-container .tooltip {
  border: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
  border-radius: 5px 10px;
  padding: 5px;
  background: #eee;
}
