#calendar-container {
	width: 450px;
	box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.66);

	.calendar-month {
		border-collapse: collapse;
		border: 3px solid #000;
		width: 100%;
	}

	.controls {
		border: 3px solid #000;
		border-bottom: 2px solid #000;
		background-color: rgb(219, 226, 228);
		margin: 0 auto;
		text-align: center;

		button {
			color: transparent;
			width: 9%;
			border: 1px outset #000;
			border-radius: 25%;
			line-height: 250%;
			margin: 10px 0;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 110%;
			box-shadow: 1px 1px 4px #131312;	
		}

		button:active {
			width: 8.5%;
			height: 8.5%;
			box-shadow: 1px 1px 2px rgb(19, 19, 18);
		}

		button:first-child {
			background-image: url(../images/arrow-left.png);

		}

		button:last-child {
			background-image: url(../images/arrow-right.png);
		}
	}

	.selected-month {
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		padding: 2% 23%;
	}

	td, th{
		border: 1px solid #333;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		background: rgb(219, 226, 228);
		cursor: default;
	}

	td:hover {
			cursor: pointer;
			background-color: rgb(160, 227, 255)
		}

	.another-month {
		color: rgb(211, 211, 211);
	}

	.weekend {
		background: rgba(79, 87, 152, 0.46);
	}

	.weekday-names {
		color: rgb(107, 107, 107);
		background: rgb(109, 241, 124);
		border-bottom: 4px solid #000;

		th {
			background: transparent;
		}

		.weekend {
			background: rgba(101, 110, 183, 0.75);
		}
	}

	.highlighted{
		color: rgb(26, 249, 35);
		background: rgb(96, 111, 110);
	}
}