#calendar-container {
  width: 450px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.66);
}
#calendar-container .calendar-month {
  border-collapse: collapse;
  border: 3px solid #000;
  width: 100%;
}
#calendar-container .controls {
  border: 3px solid #000;
  border-bottom: 2px solid #000;
  background-color: #dbe2e4;
  margin: 0 auto;
  text-align: center;
}
#calendar-container .controls button {
  color: transparent;
  width: 9%;
  border: 1px outset #000;
  border-radius: 25%;
  line-height: 250%;
  margin: 10px 0;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  box-shadow: 1px 1px 4px #131312;
}
#calendar-container .controls button:active {
  width: 8.5%;
  height: 8.5%;
  box-shadow: 1px 1px 2px #131312;
}
#calendar-container .controls button:first-child {
  background-image: url(../images/arrow-left.png);
}
#calendar-container .controls button:last-child {
  background-image: url(../images/arrow-right.png);
}
#calendar-container .selected-month {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  padding: 2% 23%;
}
#calendar-container td,
#calendar-container th {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: #dbe2e4;
  cursor: default;
}
#calendar-container td:hover {
  cursor: pointer;
  background-color: #a0e3ff;
}
#calendar-container .another-month {
  color: #d3d3d3;
}
#calendar-container .weekend {
  background: rgba(79, 87, 152, 0.46);
}
#calendar-container .weekday-names {
  color: #6b6b6b;
  background: #6df17c;
  border-bottom: 4px solid #000;
}
#calendar-container .weekday-names th {
  background: transparent;
}
#calendar-container .weekday-names .weekend {
  background: rgba(101, 110, 183, 0.75);
}
#calendar-container .highlighted {
  color: #1af923;
  background: #606f6e;
}
